{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container products thetop">
        <ol class="breadcrumb" itemtype="http://schema.org/BreadcrumbList">
        </ol>
        <h1 class="text-center mt-3 capitalize" id="#top-section">{{ supcategory_name }}</h1>

        <hr class="hr-below-title mb-4">
        <div class="col-md-12" id="list">
            <div class="row prod-list" style="margin: 0px">
                {% for product in page_obj %}
                    <div class="card text-center col-sm-4" style="width: 22rem;">
                        <a href="{% url 'single_product' product.main_category.name product.sku %}">
                            <div class="card-body" style="text-align:center;">
                                <div style="height: 250px; width: 250px;">
                                    <img class="card-img-top card-img prodimg"
                                         style="position: relative;margin-left: auto;margin-right:auto;"
                                         src="{{ product.image.url }}"
                                         alt="{{ product.name }}"
                                         data-productname="{{ product.name }}">
                                </div>
                                <div>
                                    <p class="card-title card-title-prod">
                                        <span><b>{{ product.brand }}</b> {{ product.name }}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                <div class="container mt-20">
                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled">
                                <a href="?p=1">First</a>
                            </li>

                            <li class="disabled">
                                <a href="?p=1">Prev</a>
                            </li>

                            <li class="active">
                                <a href="?p=1">1</a>
                            </li>

                            <li>
                                <a href="?p=2">2</a>
                            </li>

                            <li>
                                <a href="?p=3">3</a>
                            </li>

                            <li>
                                <a href="?p=4">4</a>
                            </li>

                            <li>
                                <a href="?p=5">5</a>
                            </li>

                            <li>
                                <a href="?p=2">Next</a>
                            </li>

                            <li>
                                <a href="?p=21">Last</a>
                            </li>
                        </ul>
                    </div>

                    <div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
                <a href="?page=1" class="first">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="previous">previous</a>
            {% endif %}

            <span class="current">
				<span class="page">Page</span> <span>{{ page_obj.number }}</span> <span
                    class="page">of</span> <span>{{ page_obj.paginator.num_pages }}</span>
			</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="next">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="last">last &raquo;</a>
            {% endif %}
		</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}