{% extends 'main.html' %}
{% load static %}

{% block content %}


    <div class="container">
        <div class="mt-3">
            <a class="btn btn-outline-warning text-dark" href="{% url 'home' %}">Continue Shopping</a>
        </div>
        <div class="mt-3 mb-5 row">
            <div class="col-lg-12">
                <table class="table table-responsive">
                    <thead>
                    <tr class="text-center bg-warning w-100">
                        <th style="width: 20%" scope="col">Thumbnail</th>
                        <th style="width: 20%" scope="col">Item</th>
                        <th style="width: 15%" scope="col">Price</th>
                        <th style="width: 10%" scope="col">Quantity</th>
                        <th style="width: 10%" scope="col">Total</th>
                        <th style="width: 10%" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in order_item %}
                        <tr class="text-center">
                            <td>
                                <a href="{% url 'single_product' cart.product.main_category cart.product.sku %}?edit=1"><img
                                        class="img-fluid" style="width: 120px; height: 120px;"
                                        src="{{ cart.product.image.url }}"
                                        alt="#"></a>
                            </td>
                            <td>{{ cart.product.name }}</td>
                            <td>${{ cart.product.price }}</td>
                            <td class="d-flex justify-content-center">
                                {#                                <input value="{{ cart.quantity }}" type="number" min="1" max="999"/>#}
                                <button class="mx-2 btn" onclick="addBtn({{ cart.product.id }})" id="add-btn{{ cart.product.id }}">+
                                </button>
                                <input class="mx-2" id="input-add{{ cart.product.id }}" type="number" min="1"
                                       value="{{ cart.quantity }}" max="999"/>
                                <button class="mx-2 btn" onclick="minusBtn({{ cart.product.id }})" id="minus-btn{{ cart.product.id }}">
                                    -
                                </button>
                            </td>
                            <td id="price_{{ cart.product.id }}"></td>
                            <script>
                                let price_{{ cart.product.id }} =
                                {{ cart.product.price }} *
                                {{ cart.quantity }};
                                document.getElementById("price_{{ cart.product.id }}").innerHTML = '$' + price_{{ cart.product.id }};
                            </script>
                            <td><a href="{% url 'remove_cart' cart.id %}"><i style="color: red"
                                                                             class="fas fa-trash float-right"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {#                    <tr class="text-center">#}
                    {#                        <td>#}
                    {#                            <img class="img-fluid" style="width: 120px; height: 120px;"#}
                    {#                                 src="https://www.salgar.net/cdnassets/24553-Ciclograma-lavabo-de-posar-VARMEGA-515-porcelana-blanca_l.jpg"#}
                    {#                                 alt="">#}
                    {#                        </td>#}
                    {#                        <td>book</td>#}
                    {#                        <td>$120</td>#}
                    {#                        <td>#}
                    {#                            <input type="number" min="1" max="999"/>#}
                    {#                        </td>#}
                    {#                        <td>Mark</td>#}
                    {#                        <td>Otto</td>#}
                    {#                        <td><i style="color: red" class="fas fa-times"></i></td>#}
                    {#                    </tr>#}
                    {#                    <tr class="text-center">#}
                    {#                        <td>#}
                    {#                            <img class="img-fluid" style="width: 120px; height: 120px;"#}
                    {#                                 src="https://www.salgar.net/cdnassets/24553-Ciclograma-lavabo-de-posar-VARMEGA-515-porcelana-blanca_l.jpg"#}
                    {#                                 alt="">#}
                    {#                        </td>#}
                    {#                        <td>book</td>#}
                    {#                        <td>$120</td>#}
                    {#                        <td>#}
                    {#                            <input type="number" min="1" max="999"/>#}
                    {#                        </td>#}
                    {#                        <td>Mark sdfsdf sdf sdf sdf</td>#}
                    {#                        <td>Otto</td>#}
                    {#                        <td><i style="color: red" class="fas fa-times"></i></td>#}
                    {#                    </tr>#}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="mt-3 text-right">
            <a class="btn btn-outline-warning text-dark" href="{% url 'checkout' %}">Checkout</a>
        </div>
    </div>


    <script>


        console.log("hello world");
        const addBtn = (id) => {
                console.log("clicked +", id)
                let increase = parseInt(document.getElementById(`input-add${id}`).value);
                increase++;
                document.getElementById(`input-add${id}`).value = increase;
        }
        const minusBtn = (id) => {

                let increase = parseInt(document.getElementById(`input-add${id}`).value);
                increase = increase - 1;
                if (increase === 0) {
                    return
                }
                document.getElementById(`input-add${id}`).value = increase;
        }
    </script>
{% endblock %}