{% extends 'main.html' %}
{% load static %}

{% block content %}


    <div class="container">
        <div class="mt-3">
            <a class="btn btn-outline-warning text-dark" href="{% url 'home' %}">Continue Shopping</a>
        </div>
        <div class="mt-3 mb-5 row">
            <div class="col-lg-12">
                <table class="table table-responsive">
                    <thead>
                    <tr class="text-center bg-warning w-100">
                        <th style="width: 20%" scope="col">Thumbnail</th>
                        <th style="width: 20%" scope="col">Item</th>
                        <th style="width: 15%" scope="col">Price</th>
                        <th style="width: 10%" scope="col">Quantity</th>
                        <th style="width: 10%" scope="col">Total</th>
                        <th style="width: 10%" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if user.is_authenticated %}
                        {% for cart in order_item %}
                            <tr class="text-center">
                                <td>
                                    <a href="{% url 'single_product' cart.product.main_category cart.product.sku %}?edit=1"><img
                                            class="img-fluid" style="width: 75px; height: 75px;"
                                            src="{{ cart.product.image.url }}"
                                            alt="#"></a>
                                </td>
                                <td>{{ cart.product.name }}</td>
                                <td>J${{ cart.product.price|floatformat:2 }}</td>
                                <td class="d-flex justify-content-center">
                                    {#                                <input value="{{ cart.quantity }}" type="number" min="1" max="999"/>#}
                                    <button class="mx-2 btn"
                                            onclick="addBtn({{ cart.product.id }}, {{ cart.product.price }})"
                                            id="add-btn{{ cart.product.id }}">+
                                    </button>
                                    <input class="mx-2" id="input-add{{ cart.product.id }}" type="number" min="1"
                                           value="{{ cart.quantity }}" max="999" disabled/>
                                    <button class="mx-2 btn"
                                            onclick="minusBtn({{ cart.product.id }}, {{ cart.product.price }})"
                                            id="minus-btn{{ cart.product.id }}">
                                        -
                                    </button>
                                </td>
                                <td id="price_{{ cart.product.id }}">J${{ cart.get_total }}</td>
                                {#                            <script>#}
                                {#                                let price_{{ cart.product.id }} =#}
                                {#                                {{ cart.product.price }} *#}
                                {#                                {{ cart.quantity }};#}
                                {#                                document.getElementById("price{{ cart.product.id }}").innerHTML = '$' + price{{ cart.product.id }};#}
                                {#                            </script>#}
                                <td><a href="{% url 'remove_cart' cart.id %}"><i style="color: red"
                                                                                 class="fas fa-trash float-right"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for cart in order_item %}
                            <tr class="text-center">
                                <td>
                                    <a href="{% url 'single_product' cart.product.main_category cart.product.sku %}?edit=1"><img
                                            class="img-fluid" style="width: 75px; height: 75px;"
                                            src="{{ cart.product.image.url }}"
                                            alt="#"></a>
                                </td>
                                <td>{{ cart.product.name }}</td>
                                <td>J${{ cart.product.price|floatformat:2 }}</td>
                                <td class="d-flex justify-content-center">
                                    {#                                <input value="{{ cart.quantity }}" type="number" min="1" max="999"/>#}
                                    <button class="mx-2 btn"
                                            onclick="addBtn({{ cart.product.id }}, {{ cart.product.price }})"
                                            id="add-btn{{ cart.product.id }}">+
                                    </button>
                                    <input class="mx-2" id="input-add{{ cart.product.id }}" type="number" min="1"
                                           value="{{ cart.qty }}" max="999" disabled/>
                                    <button class="mx-2 btn"
                                            onclick="minusBtn({{ cart.product.id }}, {{ cart.product.price }})"
                                            id="minus-btn{{ cart.product.id }}">
                                        -
                                    </button>
                                </td>
                                <td id="price_{{ cart.product.id }}">J${{ cart.get_total }}</td>
                                <script>
                                    let price_{{ cart.product.id }} =
                                    {{ cart.product.price }} *
                                    {{ cart.qty }};
                                    document.getElementById("price_{{ cart.product.id }}").innerHTML = '$' + price_{{ cart.product.id }}.toFixed(2);
                                </script>
                                <td><a href="{% url 'remove_cart' cart.product.id %}"><i style="color: red"
                                                                                         class="fas fa-trash float-right"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="mt-3 text-right">
            <a class="btn btn-outline-warning text-dark" href="{% url 'checkout' %}">Checkout</a>
        </div>
    </div>


    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        const addBtn = (id, price) => {
            let cart_count = parseInt(document.getElementById('lblCartCount').innerText);

            let increase = parseInt(document.getElementById(`input-add${id}`).value);
            increase++;
            document.getElementById(`input-add${id}`).value = increase;
            const total_price = price * increase;
            document.getElementById(`price_${id}`).innerHTML = '$' + total_price.toFixed(2);

            document.getElementById('lblCartCount').innerText = cart_count + 1;

            $.ajax({
                url: "{% url 'update_cart' %}",
                type: "POST",
                dataType: "json",
                headers: {"X-CSRFToken": getCookie("csrftoken")},
                data: {"id": String(id), "qty": String(increase)},
                success: function (response) {
                    console.log(response)
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }

        const minusBtn = (id, price) => {
            let cart_count = parseInt(document.getElementById('lblCartCount').innerText);

            let increase = parseInt(document.getElementById(`input-add${id}`).value);
            increase = increase - 1;
            if (increase === 0) {
                return
            }
            document.getElementById(`input-add${id}`).value = increase;
            const total_price = price * increase;
            document.getElementById(`price_${id}`).innerHTML = '$' + total_price.toFixed(2);
            document.getElementById('lblCartCount').innerText = cart_count - 1;

            $.ajax({
                url: "{% url 'update_cart' %}",
                type: "POST",
                dataType: "json",
                headers: {"X-CSRFToken": getCookie("csrftoken")},
                data: {"id": String(id), "qty": String(increase)},
                success: function (response) {
                    console.log(response)
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }
    </script>
{% endblock %}