{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container thetop responsive my-4">
        <!-- carousel start -->
        <div class="carousel-background">
            <div id="carousel" class="carousel slide carousel-fade mb-3" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    {#                    <div class="carousel-item active">#}
                    {#                        <a href="/category/kitchen">#}
                    {#                            <picture style="float-left"></picture>#}
                    {#                            <img srcset="http://d1z9ehtk9rps9k.cloudfront.net/cover_kitchen.png" alt="responsive image"#}
                    {#                                 class="d-block img-fluid">#}
                    {#                            </picture>#}
                    {#                        </a>#}
                    {#                    </div>#}

                    {#                    {% for slider in first_slider %}#}
                    <div class="carousel-item active">
                        <a href="{{ first_slider.category_url }}">
                            <picture style="float-left"></picture>
                            <img srcset="{{ first_slider.image.url }}"
                                 alt="responsive image"
                                 class="d-block img-fluid">
                            </picture>
                        </a>
                    </div>
                    {#                    {% endfor %}#}
                    {% for slider in sliders %}
                        <div class="carousel-item">
                            <a href="{{ slider.category_url }}">
                                <picture style="float-left"></picture>
                                <img srcset="{{ slider.image.url }}"
                                     alt="responsive image"
                                     class="d-block img-fluid">
                                </picture>
                            </a>
                        </div>
                    {% endfor %}
                    <!-- /.carousel-item -->
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="/category/bathroom">#}
                    {#                            <picture>#}
                    {#                                <img srcset="http://d1z9ehtk9rps9k.cloudfront.net/cover_shower.png"#}
                    {#                                     alt="responsive image" class="d-block img-fluid">#}
                    {#                            </picture>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <!-- /.carousel-item -->#}
                    {#                    <div class="carousel-item">#}
                    {#                        <a class="carousel-link" href="/category/commercial">#}
                    {#                            <picture>#}
                    {#                                <img srcset="http://d1z9ehtk9rps9k.cloudfront.net/cover_toto.png" alt="responsive image"#}
                    {#                                     class="d-block img-fluid">#}
                    {#                            </picture>#}
                    {#                        </a>#}
                    {#                    </div>#}
                    <!-- /.carousel-item -->
                </div>
                <!-- /.carousel-inner -->

            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon d-none d-lg-block" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon d-none d-lg-block" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <!-- carousel end  -->

    <!-- featured products start -->
    <div class="container thetop responsive">
        <h2 class="mt-5 featured-product">Featured Products</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card">
                        <a href="{% url 'single_product' product.main_category.name product.sku %}">
                            <div class="card-body">
                                <img class="card-img-top prodimg img-fluid"
                                     src="{{ product.image.url }}" alt="Card image cap">
                                <p class="card-title card-title-prod text-center">
                                    <span><b>{{ product.brand }}</b> {{ product.name }}</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- featured products end -->

    <!-- brand logo start -->
    <div class="my-5">
        <div class="container  brands-footer text-center">
            <ul style="list-style: none;">
                <li>
                    <a href="{% url 'brand' 'TOTO' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/toto.png" alt="toto">
                    </a>
                </li>
                <li>
                    <a href="{% url 'closets' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/elfa.png" alt="elfa">
                    </a>
                </li>
                <li>
                    <a href="{% url 'brand' 'HANSGROHE' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/hansgro.png" alt="hansgrohe">
                    </a>
                </li>

                <li>
                    <a href="{% url 'brand' 'GROHE' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/grohe.png" alt="grohe">
                    </a>
                </li>
                <li>
                    <a href="{% url 'brand' 'RONBOW' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/ronbow.png" alt="ronbow">
                    </a>
                </li>
                <li>
                    <a href="{% url 'brand' 'AmeriSink' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/amerisink.png" alt="amerisink">
                    </a>
                </li>
                <li>
                    <a href="{% url 'brand' 'CATALANO' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/catalano.png" alt="catalano">
                    </a>
                </li>
                <li>
                    <a href="{% url 'brand' 'GEDY' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/gedy.png" alt="gedy">
                    </a>
                </li>
                <li>
                    <a href="{% url 'brand' 'MOEN' %}">
                        <img src="http://d1z9ehtk9rps9k.cloudfront.net/logos/moen.png" alt="moen">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- brand logo end  -->
{% endblock %}