
.address {
    background-color: yellow;
}

.card {
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 1.4em;
    font-family: 'Playfair Display', sans-serif;
    height: auto;
}

.btn {
    color: #ffcc00;
}

.card-img-overlay {
    height: auto;
}

a:hover {
    color: rgb(85, 50, 5);
}

a {
    color: rgb(0, 0, 0);
    font-size: .875rem;
}

.second {
    font-size: .75rem;
}

.active {
    background-color: #ffcc00;
}

p,
address {
    font-family: 'Playfair Display', 'helvetic neue', 'times new roman', sans-serif;
    color: #424242;
}

address {
    font-size: 1.125rem;
}

.below {
    padding: 0;
}

.main-page {
    color: white;
}

.price {
    font-weight: bold;
    font-size: .875rem;
}

.lead-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prod-list {
    font-size: 1.25rem;
}

.dropdown:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

li.dropdown ul li,
.brands-footer ul li {
    float: left;
}

.footer-map {
    width: 70%;
}

.dropdown-menu {
    -webkit-box-shadow: .125rem .0625rem .375rem #8b8d8e;
    box-shadow: .125rem .0625rem .375rem #8b8d8e;
    padding: .625rem .625rem .8125rem;
}

.hr-below-title {
    height: .625rem;
    border: 0;
    -webkit-box-shadow: 0 .625rem .625rem -.625rem #8c8b8b inset;
    box-shadow: 0 .625rem .625rem -.625rem #8c8b8b inset;
}

.brands-footer ul li {
    margin: .625rem;
}

.brands-footer ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.contact-page {
    width: 50%;
    height: 25%;
}

.foot-add {
    font-size: .875rem;
}

.contact-us-map {
    display: -webkit-flex;
}

.sub-nav-img {
    width: 4.375rem;
    height: 4.375rem;
}

.breadcrumb {
    background: white;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb-item {
    color: #EE7600;
}

.nav-link {
    font-size: .9375rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    color: black;
}

.brands-footer img {
    width: 5.313rem;
}

.prod-list {
    display: right;
}

.categories,
.back-to-top {
    color: #EE7600;
}

.encl {
    font-weight: bold;
    font-size: 1.125rem;
}

.cat-up,
.capitalize {
    text-transform: capitalize;
}

h1,
.foot-link {
    font-family: 'Playfair Display', sans-serif;
}

.card-img {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 250px;
    display: block;
    top: 50%;
    transform: translateY(-50%);


}

.card-title {
    font-size: 18px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    display: none;
    background-color: white;
    color: #EE7600;
}

.prodimg {
    cursor: pointer;
}

#mce-EMAIL {
    width: 90%;
}

.finish {
    font-family: 'Playfair Display', 'helvetic neue', 'times new roman', sans-serif;
    font-size: 1rem;
}

/*
Forces image to be 100% width and not max width of 100%
*/

.carousel-item .img-fluid {
    width: auto;
    height: 34.375rem;
}

/* 
anchors are inline so you need ot make them block to go full width
*/

.carousel-item a {
    width: auto;
    height: 100%;
}

.carousel-item,
#carousel,
.carousel-inner {
    width: 50rem;
    height: 34.375rem;
    margin: 0 auto;
}

.carousel-background {
    position: relative;
    width: 11.625rem;
    height: 34.375rem;
    background-color: #ffcc00;
}


body {
    line-height: 1.5;
}

.copyright {
    width: 50%;
    margin: 0 auto;
}

.copyright p {
    text-align: center;
    width: 15.625rem;
    font-size: .875rem;
}

.form-c {
    display: inline-block;
}

/* Contact Inline Form */
#ctct_form_1 h2 {
    font-size: 18px;
    font-family: 'Playfair Display', sans-serif;
}

#ctct_form_1 p {
    font-size: 14px;
    font-style: italic;
    display: none;
}

#email_address_label_1 {
    font-size: 14px;
    font-family: 'Playfair Display', sans-serif;
}

#ctct_form_1 #gdpr_text p {
    font-size: 12px !important;
    display: none;
}

.ctct-form-footer {
    display: none;
}

div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
    height: 30px !important;
    padding: 3px !important;
}

.border-bottom-left-radius {
    position: relative;
}

.ctct-form-embed.form_1 .ctct-form-custom .ctct-form-button {
    position: absolute;
    background-color: rgb(52, 58, 64) !important;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 24px !important;
    margin: 6px 12px;
    left: 35%;
    right: 50%;
    bottom: 3px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 8px;
    font-weight: bolder;
    color: rgb(255, 204, 0) !important;
    border: none !important;
    vertical-align: middle;
}

.ctct-form-container {
    height: 180px;
    background-color: #d4972f;
    border-radius: 5px;
}

.ctct-form-defaults {
    padding: 18px;
}

/* mailing pop up */
.ctct-form-popup {
    height: 400px !important;
}

.ctct-popup-content .ctct-form-popup.form_0 .ctct-form-custom .ctct-form-button {
    background-color: rgb(52, 58, 64) !important;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 204, 0) !important;
    border: none !important;
    vertical-align: middle;
}

.ctct-form-popup.form_0 .ctct-form-defaults .ctct-form-header,
.ctct-popup-content div.ctct-form-defaults p.ctct-form-text,
.ctct-popup-content div.ctct-form-popup form.ctct-form-custom label.ctct-form-label,
.ctct-popup-content div.ctct-form-defaults p.ctct-gdpr-text {
    font-family: 'Playfair Display', sans-serif;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    margin: 0 auto;
    list-style: none !important;
    display: inline-flex;
    padding-left: 100px;
    padding: 0;
    background-color: #c4cdd1;


}

.pagination li {
    margin: 0 10px;
    font-weight: 700;
    padding: 0 5px;

}

.pagination li:hover {
    background-color: #ffcc00;
}

.form-control, .form-control-btn {
    font-size: 0.75rem;
}

@media (max-width: 767px) {
    .carousel-item,
    #carousel,
    .carousel-inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .carousel-background {
        position: relative;
        width: auto;
        height: auto;
        max-width: 100%;
        background-color: unset;
    }

    body {
        width: 100%;
    }

    .nav-link {
        font-size: 65% !important;
    }

    .dropdown-menu {
        display: none !important;
    }

    #mc-embedded-subscribe-form {
        text-align: center !important;
    }

    #mc_embed_signup {
        width: 40%;
    }

    .brands-footer img {
        width: 3.438rem;
    }

    .carousel-item .img-fluid {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    #mc_embed_signup_scroll label {
        font-size: .625rem;
    }

    .ctct-form-popup {
        height: 100% !important;
    }

    .prod-list {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 30px;
    }

    .pagination ul li:nth-child(5),
    .pagination ul li:nth-child(6),
    .pagination ul li:nth-child(7) {
        display: none;
    }

    .pagination li {
        margin: 0 5px;
    }
}

@media (min-width: 1299px) {
    .brands-footer img {
        width: 100%;
    }

    .nav-link, .foot-link {
        font-size: 110% !important;
    }

    #mc_embed_signup input.email {
        width: 12.5rem;
    }

    body {
        width: 65rem;
        margin: auto;
        max-width: 65rem;
    }
}

@media (min-width: 768px) {
    body {
        width: 100%;
    }

    .carousel-item,
    #carousel,
    .carousel-inner {
        width: 100%;
        height: 34.375rem;
        margin: 0 auto;
    }

    .carousel-background {
        position: relative;
        width: 100%;
        height: 34.375rem;
        background-color: #ffcc00;
    }

    .carousel-item .img-fluid {
        height: 100%;
        margin: 0 auto;
    }

    .brands-footer img {
        width: 4.69rem;
    }

    .nav-link {
        font-size: 90%;
    }

    .prod-img {
        height: 25%;
    }

    #mc_embed_signup_scroll label {
        font-size: .625rem;
    }

    .container .the-top {
        margin: 5px;;
    }
}

@media (max-width: 480px) {
    body {
        width: 100%;
    }

    .carousel-item,
    #carousel,
    .carousel-inner {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .carousel-background {
        position: relative;
        width: auto;
        height: auto;
        max-width: 100%;
        background-color: unset;
    }
}

@media (max-width: 980px) and (min-width: 580px) {
    #list > div > div > div > ul {
        list-style: none;
        width: 150px !important;
        padding-left: 0;
    }
}

@media (max-width: 575px) {
    .form-control {
        margin: 8px 0;
    }

}

/* .prodpage-img:hover {
    transform: scale(1.5);
    z-index: 5;
    top: 50px;
  } */

.card a {
    text-decoration: none;
}

.card a:hover {
    background-color: #f7f5ef;
}

.headline-section:before {
    left: 0;
    right: 0;
    position: absolute;
    top: 49.5%;
    height: 0.0625rem;
    content: '';
    border-top: 1px solid #c5c9cd;
    font-size: 0em;
    overflow: hidden;
    z-index: -1;
}

.headline-section span {
    margin-right: 1%;
    padding-right: 15px;
    margin-left: 1%;
    padding-left: 15px;
    background: #f0efef;
    display: inline-block;
    height: 100%;
    z-index: 1;
}